MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root_password
MONGO_DB=blog_db
MONGO_APP_USERNAME=blog_admin
MONGO_APP_PASSWORD=app_password

MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=admin_password
MONGO_INITDB_DATABASE=blog_db

MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=app_db
MYSQL_USER=appuser
MYSQL_PASSWORD=app_password

MONGO_URI=mongodb://blog_admin:app_password@db_mongo:27017/blog_db?authSource=blog_db
MYSQL_HOST=db_mysql
MYSQL_PORT=3306
MYSQL_DB=app_db
MYSQL_USER_API=appuser
MYSQL_PASSWORD_API=app_password
